---
---

$header-bg-color: #F5D580;
$section-headings-color: #000000;
$large-breakpoint: 64em;
$medium-breakpoint: 48em;

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: url("/assets/images/georgiatechlogo.png");
  background-repeat: no-repeat;
  background-size: 15rem;
  background-position: 2rem; 

  @include large {
    padding: 2rem 6rem 3rem;
  }

  @include medium {
    padding: 2rem 4rem 3rem;
  }

  @include small {
    padding: 2.1rem 1rem 1rem;
  }
}


.page-header a {
  color: $header-heading-color;
  text-decoration: none;
  padding: 0 1rem;
  &:hover {
    text-decoration: underline;
     @include large {
    	background-color: $header-bg-color;
    	}
	 @include medium {
    	background-color: $header-bg-color;
    	}
  }
}


.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  margin-left: 7rem;

  @include large {
    font-size: 2.4rem;
  }

  @include medium {
    font-size: 1.8rem;
  }

  @include small {
    font-size: 1.75rem;
  }
  color: black
}


.project-tagline {
  font-weight: bold;
  color: $header-heading-color;
  opacity: 1.0;

  @include large {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }

  @include medium {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }

  @include small {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

$base-line-height: 1.5 !default;
$base-font-size: 16px !default;
$background-color: #fdfdfd !default;
$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$spacing-unit: 30px !default;

.site-nav {
  float: left;
  line-height: $base-line-height * $base-font-size * 1.25;
  font-weight: bold;
  
  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    // color: $header-heading-color;
    color: #003057;
    line-height: $base-line-height;
    text-align: center;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
}

  @include large {
      width: 100%;
      margin: 0 auto;
  }
  
  @include medium {
      width: 100%;
      margin: 0 auto;
  }

  @include small {
    position: absolute;
    top: 8px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $section-headings-color;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
      color: $section-headings-color;
      text-align: right;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

.footerLeftCol {
 @include large {
    width: 200px;
    float:left;
    }
    
  @include medium {
    width: 150px;
    float:left;
    }
    
  @include small {
    width: 100%;
    float:left;
    }
}

.footerRightCol {
 @include large {
    width: 600px;
    float:right;
    }
    
 @include medium {
    width: 550px;
    float:right;
    }
  @include small {
    width: 100%;
    float:left;
    }
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Georgia';
  background: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.wrapper {
  display: table;
  width: 100%;
  padding: 0 0.1rem;
  text-align: center;
}
.polaroid {
  background: #ffffff;
  padding: 0.1rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.2);
}
.caption {
  font-size: 1rem;
  text-align: center;
  line-height: 1rem;
}
.item {
  width: 50%;
  display: inline-block;
  filter: grayscale(40%);
  margin: 0 auto;
}
.item .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.4);
}
.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0,0,0,0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: '';
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.2);
  transition: all 0.35s;
}

